# Pandas Demos

Because I am constantly forgetting and having to google pandas basics, such as
- File I/O
    - With csv
    - With Excel
- Max columns to display - display all of them always
- Basic statistics
- Dropping and filling nulls
    - In & out of place
- loc and iloc
- filter and query
- Reverse a dataframe top to bottom, left to right
- Plotting using pandas built-ins
- Converting a dictionary to a series
- Promoting a series to a frame
- Adding a series to a frame
- Drop a row (or rows), or column (or columns)
- Scramble or sample a dataframe
- Rename a column or columns
- Using apply on
    - A single column
    - A single row
    - All elements
- string operations
- melting
- masking & logical operators
- grouping (groupby)

## Imports

In [1]:
import pandas as pd

## File I/O

### Read from csv

In [2]:
df = pd.read_csv("./data/auto.csv")
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
389,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
390,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
391,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

### Write to csv

Make sure to include `index=False` to suppress the index from the file, or you will have inadvertently added a column to the output

In [3]:
df.to_csv("./data/auto-ignore.csv", index=False)

Then read it back and verify equality

In [4]:
df2 = pd.read_csv("./data/auto-ignore.csv")
df.equals(df2)

True

### Read from Excel

Not as frequent, but worth it to show that you need a separate install

```console
!pip install openpyxl
```

In [7]:
#!pip install openpyxl

In [15]:
df_from_excel = pd.read_excel("./data/SampleFile.xlsx")
df_from_excel.head(10)

   Widget A  Widget B
0         2         3
1        36        48
2        16        40
3         5         2
4        31        16
5        34        11
6        19        12
7         4         7
8         4        43
9        36        18

## Max Columns to Display

I usually want to have all the columns displayed
- But the default will show up to 20, after which point interior columns are replaced with a "..."
- Instead, set the option to specify the max is none, i.e. never replace with ...

Read & display a dataset with tons of columns

In [43]:
df = pd.read_csv("./data/coupons.csv")

In [44]:
pd.set_option("display.max_columns", 20)
df.head(5)

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0

In [45]:
pd.set_option("display.max_columns", None)
df.head(5)

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,has_children,education,occupation,income,car,Bar,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,1,Some college - no degree,Unemployed,$37500 - $49999,NaN,never,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,1,Some college - no degree,Unemployed,$37500 - $49999,NaN,never,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,1,Some college - no degree,Unemployed,$37500 - $49999,NaN,never,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,1,Some college - no degree,Unemployed,$37500 - $49999,NaN,never,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,1,Some college - no degree,Unemployed,$37500 - $49999,NaN,never,never,NaN,4~8,1~3,1,1,0,0,1,0